@use './variables' as vars;

html, body {
  margin: 0;
  padding: 0;
  font-family: vars.$font-family-base;
  background-color: vars.$background-color;
  color: vars.$text-primary;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
