@use '@app/styles/variables' as vars;

.searchPageContainer {
  padding: vars.$spacing-lg;
  color: vars.$text-primary;
}
.searchPageHead {
  text-align: start;
  padding-bottom: 3rem;
  .searchTitle {
    font-size: vars.$font-size-xxl;
    margin-bottom: vars.$spacing-sm;
    
    .queryHighlight {
      color: vars.$yellow-dark;
    }
  }
}

.searchPageContent {
  text-align: center;
  margin-top: vars.$spacing-xl;
  font-size: vars.$font-size-lg;
  color: vars.$text-secondary;
}
